body {
  background-color: black;
  -webkit-user-select: none;
  
}

.App {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.calc-wrapper { 
  background-color: white;
  width: 400px;
  border-radius: 16px;
  cursor: pointer;
}

.row {
  display: flex;
}
